name: Release

on:
  workflow_dispatch:
    inputs:
      bumpType:
        type: choice
        description: "Bump type: major | minor | patch"
        required: true
        default: "patch"
        options:
          - major
          - minor
          - patch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write 

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0"

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: false
          DEFAULT_BUMP: ${{ github.event.inputs.bumpType || 'patch' }}

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci

      - run: cp README.md LICENSE projects/ngx-voyage/

      - run: |
          cd projects/ngx-voyage
          git config user.email "mathieu.schnoor@gmail.com"
          git config user.name "Mathieu Schnoor"
          npm version from-git

      - run: npm run build:lib

      - name: Publish to npm
        run: npm publish --access public
        working-directory: dist/ngx-voyage
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - uses: JS-DevTools/npm-publish@v4
      #   with:
      #     access: public
      #     package: dist/ngx-voyage
